
.primaryBtn,
.secondaryBtn {
  min-width: 170px;
  height: 46px;
  padding: 0 18px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
  border-radius: 6px !important;
}

.primaryBtn {
  background: linear-gradient(135deg, #00c7ff, #0078ff);
  color: #ffffff;
  border: 1px solid rgba(0, 199, 255, 0.5);
  box-shadow: 0 12px 32px rgba(0, 140, 255, 0.25);
  font-size: 11px;
}

.secondaryBtn {
  background: #000d32;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  font-size: 11px;
}

.primaryBtn:hover  {
  color: #ffffff;
  background: linear-gradient(135deg, #00c7ff,  #00c7ff) !important;
  transform: translateY(-2px);
}

 
.secondaryBtn:hover {
  color: #ffffff;
  background:linear-gradient(135deg, #00c7ff, #0078ff) !important;
  transform: translateY(-2px);
}

.btnIcon {
  width: 34px;
  height: 34px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  flex-shrink: 0;
}

.bSectionArea {
    background: url('../../../../public/images/holding.png') no-repeat center center;
    border-radius: 6px;
    padding: 30px;
    background-size: cover;
}
.top_b_area {
    display: flex;
    gap: 20px; 
}
.img_area { 
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    display: flex;
    border: 2px solid #0cc0df;
}
.btext_area{
    margin-top: 5px;
}
.btext_area span {
    color: #0cc0df;
    font-size: 11px;
    display: inline-block;
    font-weight: 600;
    font-family: inter;
    text-transform: uppercase;    
    margin-bottom: 5px; 
}

.bSectionArea p {
    width: 53%;
    text-align: justify;    
    margin-bottom: 20px;
}
.bSectionWhite{
    background: url("../../../../public/images/treasury.png") no-repeat center center !important;
    background-size: cover !important;
}

.bSectionWhite p { 
    color: #113150 !important;
}
.btext_area p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left !important;
    width: 90% !important;
}