/*@media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1600px !important;
    }
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1400px ;
    }
}*/

/* Large / Desktop */
@media only screen and (min-width: 1850px)  {
    .hero_image .btc_coin {
    width: 180px;
    height: 180px;
    top: 30%;
    margin-left: -3px !important;
}
    .hero_image .eth_coin { 
        width: 200px;
        height: 200px; 
        bottom: 23%;
        right: 34% ;
    }
    .hero_image .ucbi_coin { 
    width: 250px;
    height: 250px; 
    bottom: 43%;
    right: 25% !important;
}
}
@media only screen and (width: 1800px)  {
    .hero_image .btc_coin { 
        margin-left:5px !important; 
        top: 30%;
        width: 180px;
        height: 180px;
    }
    .hero_image .eth_coin { 
        width: 200px;
        height: 200px; 
        bottom: 23%;
        right: 34% ;
    }
    .hero_image .ucbi_coin { 
    width: 250px;
    height: 250px; 
    bottom: 43%;
    right: 25% !important;
}
}
/* Large / Desktop */
@media only screen and (width: 1520px)  {
    .hero_image .btc_coin { 
        margin-left: -25px !important; 
        top: 28% !important;
        width: 150px !important;
        height: 150px !important;
    }
    .hero_image .eth_coin {
    width: 150px !important;
    height: 150px !important;
    bottom: 23%;
    right: 34%;
}
    .hero_image .ucbi_coin { 
    width: 300px !important;
    height: 300px !important; 
    bottom: 21%;
    right: 19% !important;
}
}
@media only screen and (width: 1536px)  {
    .hero_image .btc_coin { 
        margin-left: -25px !important; 
        top: 28% !important;
        width: 150px !important;
        height: 150px !important;
    }
    .hero_image .eth_coin {
    width: 150px !important;
    height: 150px !important;
    bottom: 32% !important;
    right: 34% !important;
}
    .hero_image .ucbi_coin {
    width: 230px !important;
    height: 230px !important;
    bottom: 35% !important;
    right: 22% !important;
}
}
@media only screen and (width: 1490px)  {
    .hero_image .btc_coin { 
        margin-left: -25px !important; 
        top: 28% !important;
        width: 150px !important;
        height: 150px !important;
    }
    .hero_image .eth_coin {
    width: 150px !important;
    height: 150px !important;
    bottom: 32% !important;
    right: 34% !important;
}
    .hero_image .ucbi_coin {
    width: 230px !important;
    height: 230px !important;
    bottom: 35% !important;
    right: 22% !important;
}
}
@media only screen and (width: 1500px)  {
    .hero_image .btc_coin { 
        margin-left: -25px !important; 
        top: 28% !important;
        width: 150px !important;
        height: 150px !important;
    }
    .hero_image .eth_coin {
    width: 150px !important;
    height: 150px !important;
    bottom: 32% !important;
    right: 34% !important;
}
    .hero_image .ucbi_coin {
    width: 230px !important;
    height: 230px !important;
    bottom: 35% !important;
    right: 22% !important;
}
}
@media only screen and (min-width: 1320px) {
    .hero_image .btc_coin {
    width: 160px;
    height: 160px;
    margin-left: -39px;
    top: 26%;
}
    .hero_image .eth_coin {
    width: 170px;
    height: 170px;
    bottom: 40%;
    right: 35%;
}
   .hero_image .ucbi_coin {
    width: 250px;
    height: 250px;
    bottom: 43%;
    right: 14%;
}

}

@media only screen and (width: 1280px) {
    .hero_image .btc_coin { 
        margin-left: -39px; 
        top: 30%;
        width: 180px;
        height: 180px;
    }
    .hero_image .eth_coin { 
        width: 200px;
        height: 200px; 
        bottom: 23%;
        right: 30%;
    }
    .hero_image .ucbi_coin { 
    width: 370px;
    height: 370px; 
    bottom: 21%;
    right: 8%;
}
.timeline_area img { 
    display: none;
}
.papers_token_section .clinee { 
    height: 295px; 
}
.bg_bb { 
    padding: 51px 58px 27px;
}
.blog_img {
    width: auto; 
}

}

@media only screen and  (width: 1024px) {
    .hero_image .btc_coin { 
        margin-left: -98px; 
        top: 30%;
        width: 180px;
        height: 180px;
    }
    .hero_image .eth_coin { 
        width: 200px;
        height: 200px; 
        bottom: 23%;
        right: 34%;
    }
    .hero_image .ucbi_coin { 
    width: 370px;
    height: 370px; 
    bottom: 21%;
    right: 6%;
}
.driving_img img {
    width: 310px; 
}

.papers_token_section .clinee { 
    height: 341px !important; 
}
.timeline_area img { 
    display: none;
}
.bg_bb { 
    padding: 11px 50px 9px;
}
.goal_content p {
    width: 100%;
}
.blog_img {
    width: auto; 
}
}
@media only screen and (min-width: 900px) and (max-width: 1000px) {
    .timeline_area img { 
        display: none;
    }
    .hero_image .btc_coin {
        width: 100px;
        height: 100px; 
        top: 36%;
        right: 27%;
    }
    .hero_image .eth_coin { 
    width: 100px;
    height: 100px; 
    bottom: 39%;
    right: 26%;
}
.hero_image .ucbi_coin { 
    width: 200px;
    height: 200px; 
    bottom: 38%;
    right: 11%;
}
.driving_img img {
    width: 322px; 
    margin-top: 42px;
    margin-left: -170px;
}
.papers_token_section .clinee {
    background: none;
    height: auto;
    margin-bottom: 160px;
    position: unset;
    overflow: hidden;
}
.white_paper_area {
    background: #112e50; 
    width: 749px;
}
.ourjourney_section { 
    background-size: cover;
}
.timeline_three {
    margin-top: 109px; 
}
.swiper-slide { 
    display: flex;
    justify-content: center;
}
.footer_section:before { 
    width: 100%; 
}
.driving_content {
    width: 288px;
}
}
@media only screen and (width: 912px) {
    .timeline_area img { 
        display: none;
    }
    .hero_image .btc_coin {
        width: 100px;
        height: 100px; 
        top: 36%;
        right: 27%;
    }
    .hero_image .eth_coin { 
    width: 100px;
    height: 100px; 
    bottom: 39%;
    right: 26%;
}
.hero_image .ucbi_coin { 
    width: 200px;
    height: 200px; 
    bottom: 38%;
    right: 7%;
}
.driving_img img {
    width: 322px; 
    margin-top: 42px;
    margin-left: -170px;
}
.papers_token_section .clinee {
    background: none;
    height: auto;
    margin-bottom: 160px;
    position: unset;
    overflow: hidden;
}
.white_paper_area {
    background: #112e50; 
    width: 749px;
}
.ourjourney_section { 
    background-size: cover;
}
.timeline_three {
    margin-top: 109px; 
}
.swiper-slide { 
    display: flex;
    justify-content: center;
}
.footer_section:before { 
    width: 100%; 
}
.driving_content {
    width: 288px;
}
}

@media only screen and (width: 820px) {
    .timeline_area img { 
        display: none;
    }
    .hero_image .btc_coin {
        width: 100px;
        height: 100px; 
        top: 36%;
        right: 27%;
    }
    .hero_image .eth_coin { 
    width: 100px;
    height: 100px; 
    bottom: 39%;
    right: 26%;
}
.hero_image .ucbi_coin { 
    width: 200px;
    height: 200px; 
    bottom: 38%;
    right: 7%;
}
.driving_img img {
    width: 322px; 
    margin-top: 42px;
    margin-left: -170px;
}
.papers_token_section .clinee {
    background: none;
    height: auto;
    margin-bottom: 160px;
    position: unset;
    overflow: hidden;
}
.white_paper_area {
    background: #112e50; 
    width: 749px;
}
.ourjourney_section { 
    background-size: cover;
}
.timeline_three {
    margin-top: 109px; 
}
.swiper-slide { 
    display: flex;
    justify-content: center;
}
.footer_section:before { 
    width: 100%; 
}
.driving_content {
    width: 288px;
}
}

/* Medium / Tablet */
@media only screen and (max-width: 768px) {
    .copyright p { 
        margin-left:0;
    }
     .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .driving_img img {
        width: 100% !important; 
    }
    .hero_title {
        font-size: 34px;
        line-height: 44px;
        font-family: var(--title_font);
        margin-bottom: 20px;
    }
    .white_paper_area { 
        padding: 30px;
        border: 0px solid #fff;
        margin-bottom: 30px;
    }
    .tokenomics_area { 
        padding: 30px;
        border: 0px solid #fff;
        margin-bottom: 30px;
        margin-top: 0px;
    }
    .driving_section .cline { 
        padding: 80px 30px !important;
    }
    
    .papers_token_section .cline:after { 
        bottom: 16px; 
    }
    
    .footer_section:before { 
        width: 100%; 
    }
    .footer_elements { 
        margin-left: 30px;
        margin-right: 30px; 
    }
    .social {
        margin-bottom: 30px;
    }
    .copyright p { 
        margin-bottom: 30px;
    }
    .bg_bb { 
        padding: 30px;
    }
    .goal_content p {
        width: 100%;
    }
    .section_title_dark { 
        font-size: 26px; 
    }
    .big_text_number span { 
        line-height: 50px; 
        font-size: 40px;
    }
    .section_title_white { 
        font-size: 24px;
        line-height: 32px; 
    }
    .line_img {
        display: none;
    }
    .ourjourney_section { 
        background-size: cover;
    }
    .timeline_item:before {
        display: none ;
    }
    .timeline_item:after {
        display: none ;
    }
    .timeline_one, .timeline_two , .timeline_three , .timeline_four   {
        margin-top: 20px;
    }
    .white_paper_area:before {
        display: none;
    }
    .white_paper_area:after {
        display: none;
    }
    .goal_sectio .cline { 
        padding: 100px 8px !important;
    }

    .hero_section { 
        background-position: center center;
    }
    .hero_section .cline {
        height: 800px;
    }
    .hero_content {
        margin-top: 0;
    }
    .hero_image .btc_coin {
        width: 130px;
        height: 130px; 
        top: 60%;
        left: 15%;
    }
    .hero_image .eth_coin { 
        width: 150px;
        height: 150px; 
        bottom: 4%;
        left: 4%;
        mix-blend-mode: normal;
    }
    .hero_image .ucbi_coin {
        mix-blend-mode: normal;
        width: 300px;
        height: 300px;  
        bottom: 2%;
        right: 42%;
    }

    .big_text_number {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .line_right {
        border-right: 1px solid transparent !important;
    }
    .extra_line_whtiepaper_left:before {
        background: none;
    }
    .extra_line_whtiepaper_right:before {
        background: none;
    }
    .cline_white {
        border-right: 1px solid transparent !important;
    }

    .papers_token_section .clinee { 
        height: auto;  
        background-position: right center;
        padding-top: 20px;
    }
    .tokenomics_area:before { 
        background: none; 
    }
    .tokenomics_area:after { 
        background: none; 
    }
    .cont_bg:before { 
        opacity: 0.2;
    }
    


}

/* Small / Mobile */
@media only screen and (max-width: 576px) {
     .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .driving_img img {
        width: 100% !important; 
    }
    .hero_title {
        font-size: 34px;
        line-height: 44px;
        font-family: var(--title_font);
        margin-bottom: 20px;
    }
    .white_paper_area { 
        padding: 30px;
        border: 0px solid #fff;
        margin-bottom: 30px;
    }
    .tokenomics_area { 
        padding: 30px;
        border: 0px solid #fff;
        margin-bottom: 30px;
        margin-top: 0px;
    }
    .driving_section .cline { 
        padding: 80px 30px !important;
    }
    
    .papers_token_section .cline:after { 
        bottom: 16px; 
    }
    
    .footer_section:before { 
        width: 100%; 
    }
    .footer_elements { 
        margin-left: 30px;
        margin-right: 30px; 
    }
    .social {
        margin-bottom: 30px;
    }
    .copyright p { 
        margin-bottom: 30px;
    }
    .bg_bb { 
        padding: 30px;
    }
    .goal_content p {
        width: 100%;
    }
    .section_title_dark { 
        font-size: 26px; 
    }
    .big_text_number span { 
        line-height: 50px; 
        font-size: 40px;
    }
    .section_title_white { 
        font-size: 24px;
        line-height: 32px; 
    }
    .line_img {
        display: none;
    }  .line_img {
        display: none;
    }
    .ourjourney_section { 
        background-size: cover;
        background-position: bottom center;
    }
    .timeline_item:before {
        display: none ;
    }
    .timeline_item:after {
        display: none ;
    }
    .timeline_one, .timeline_two , .timeline_three , .timeline_four   {
        margin-top: 20px;
    }
    .white_paper_area:before {
        display: none;
    }
    .white_paper_area:after {
        display: none;
    }
    .goal_sectio .cline { 
        padding: 100px 8px !important;
    }

}

@media only screen and (max-width: 375px) and (max-height: 667px) {
     .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .driving_img img {
        width: 100% !important; 
    }
    .hero_title {
                font-size: 30px;
        line-height: 33px;
        font-family: var(--title_font);
        margin-bottom: 20px;
    }
    .big_text_number span { 
        font-size: 30px;
        line-height: 50px; 
        word-break: break-all;
    }
    .white_paper_area { 
        padding: 30px;
        border: 0px solid #fff;
        margin-bottom: 30px;
    }
    .tokenomics_area { 
        padding: 30px;
        border: 0px solid #fff;
        margin-bottom: 30px;
        margin-top: 0px;
    }
    
    .driving_section .cline { 
        padding: 80px 30px !important;
    }
    .papers_token_section .cline:after { 
        bottom: 16px; 
    }
    .footer_section:before { 
        width: 100%; 
    }
    .footer_elements { 
        margin-left: 30px;
        margin-right: 30px; 
    }
    .social {
        margin-bottom: 30px;
    }
    .copyright p { 
        margin-bottom: 30px;
    }
    .bg_bb { 
        padding: 30px;
    }
    .goal_content p {
        width: 100%;
    }
    .section_title_dark { 
        font-size: 26px; 
    }
    .big_text_number span { 
        font-size: 40px;
        line-height: 50px ; 
    }

    .section_title_white { 
        font-size: 24px;
        line-height: 32px; 
    }
    .line_img {
        display: none;
    }
    .ourjourney_section { 
        background-size: cover;
    }.line_img {
        display: none;
    }
    .ourjourney_section { 
        background-size: cover;
    }
    .timeline_item:before {
        display: none ;
    }
    .timeline_item:after {
        display: none ;
    }
    .timeline_one, .timeline_two , .timeline_three , .timeline_four   {
        margin-top: 20px;
    }
    .white_paper_area:before {
        display: none;
    }
    .white_paper_area:after {
        display: none;
    }
    .goal_sectio .cline { 
        padding: 100px 8px !important;
    }
    .hero_image .btc_coin { 
    left: 22%;
}
.hero_image .ucbi_coin { 
    width: 280px;
    height: 280px;
    left: 26%;
}
  
}




